<div class="flex justify-center items-end special-height">
  <div class="flex flex-col md:flex-row md:max-w-xl">
    <div class="p-6 flex flex-col justify-center overflow-hidden">
      <!-- <img class="pb-4" src="./assets/dd.jpg"> -->
      <p class="text-color pb-6">
        Contained Light is an independent central German production company founded in 2022 by Michael Knoll and Lorenz Piehl, focusing exclusively on the production of contained films for the international cinema and streaming market. Our ambition is to achieve a high cineastic export-ready standard by limiting the production to one shooting location.
      </p>
      <p class="text-color">
        Michael Knoll & Lorenz Piehl
      </p>
    </div>
  </div>
</div>
