<div class="flex justify-center items-end special-height md:pb-[12vh] pb-[20vh]">
  <div class="flex flex-col md:flex-row md:max-w-xl">
    <div class="p-6 flex flex-col justify-center overflow-hidden">
      <span class="text-color text-4xl font-bold text-center pb-12">Contact</span>

      <div class="flex flex-wrap">
        <div class="w-1/2 pr-4 text-end">
          <a href="mailto:mail@containedlight.com" class="text-color text-color-hover">mail&#64;<wbr>containedlight.com</a>
        </div>
        <div class="w-1/2 pl-4 text-color">
          Contained Light UG</div>
        <div class="w-1/2 pr-4 text-end text-color">
          Nordstraße 17
        </div>
        <div class="w-1/2 pl-4 text-color">
          Lorenz Piel & Michael Knoll
        </div>
        <div class="w-1/2 pr-4 text-end text-color">
          07819 Triptis
        </div>
        <div class="w-1/2 pl-4 text-color">
          HRB 519510, 07745 Jena
        </div>
        <div class="w-full text-center pt-8 text-xs text-color">
          site notice
        </div>
      </div>
    </div>
  </div>
</div>